/KlausurFragen/nbproject/private/
/KlausurFragen/build/
/t00_quickstart/nbproject/private/
/OCA/nbproject/private/
/Zufallszahl_Amiri/nbproject/private/
/OCAKlausur/nbproject/private/
/OCAKlausur/build/
/Zufallszahl_Amiri/build/